In [75]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\isuman success\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\users\isuman success\anaconda3\lib\site-packages (from nltk) (1.14.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# importing needed library

In [76]:
import pandas as pd
import numpy as np
import nltk

# load the data

In [77]:
# Importing the various dataset
trainData=pd.read_csv('Train.csv')
validData=pd.read_csv('Valid.csv')
testData=pd.read_csv('Test.csv')
# merging the entire dataset as one
df=pd.concat([trainData,validData,testData], axis=0)
df=df.reset_index(drop=True)

# Analyzing the training data

In [78]:
trainData.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [79]:
print('training dataset:', trainData.shape)
print('testing dataset:', testData.shape)
print('validation dataset:', validData.shape)

training dataset: (40000, 2)
testing dataset: (5000, 2)
validation dataset: (5000, 2)

In [80]:
trainData.label.value_counts()
print('trining dataset:\n', trainData.label.value_counts())
print('testing dataset:\n', testData.label.value_counts())
print('validayion dataset:\n', validData.label.value_counts())

trining dataset:
 0    20019
1    19981
Name: label, dtype: int64
testing dataset:
 1    2505
0    2495
Name: label, dtype: int64
validayion dataset:
 1    2514
0    2486
Name: label, dtype: int64

In [81]:
# Veiwing how a single review looks like
df.text[0]

'I grew up (b. 1965) watching and loving the Thunderbirds. All my mates at school watched. We played "Thunderbirds" before school, during lunch and after school. We all wanted to be Virgil or Scott. No one wanted to be Alan. Counting down from 5 became an art form. I took my children to see the movie hoping they would get a glimpse of what I loved as a child. How bitterly disappointing. The only high point was the snappy theme tune. Not that it could compare with the original score of the Thunderbirds. Thankfully early Saturday mornings one television channel still plays reruns of the series Gerry Anderson and his wife created. Jonatha Frakes should hand in his directors chair, his version was completely hopeless. A waste of film. Utter rubbish. A CGI remake may be acceptable but replacing marionettes with Homo sapiens subsp. sapiens was a huge error of judgment.'

In [82]:
print('Positive sentiment', df[df['label']==1].shape)
print('Negative sentiment',df[df['label']==0].shape)

Positive sentiment (25000, 2)
Negative sentiment (25000, 2)

In [83]:
"""a function Checking the lenght of the reviews"""
df['word_count']=df['text'].apply(lambda x:len(x.split()))
df.head()

                                                text  label  word_count
0  I grew up (b. 1965) watching and loving the Th...      0         151
1  When I put this movie in my DVD player, and sa...      0         326
2  Why do people who do not know what a particula...      0         184
3  Even though I have great interest in Biblical ...      0          69
4  Im a die hard Dads Army fan and nothing will e...      1         178

In [84]:
"""Calculating number of characters in each review"""
df['char_count']=df['text'].apply(lambda x:len(x))
df.head()

,text,label,word_count,char_count
0,I grew up (b. 1965) watching and loving the Th...,0,151,874
1,"When I put this movie in my DVD player, and sa...",0,326,1811
2,Why do people who do not know what a particula...,0,184,983
3,Even though I have great interest in Biblical ...,0,69,351
4,Im a die hard Dads Army fan and nothing will e...,1,178,983

In [85]:
"""function that Calculating the averge word count of each review"""
def average_word(x):
    words=x.split()
    return sum(len(word) for word in words)/len(words)

In [86]:
df['average_word']=df['text'].apply(average_word)
df.head()

,text,label,word_count,char_count,average_word
0,I grew up (b. 1965) watching and loving the Th...,0,151,874,4.794702
1,"When I put this movie in my DVD player, and sa...",0,326,1811,4.558282
2,Why do people who do not know what a particula...,0,184,983,4.347826
3,Even though I have great interest in Biblical ...,0,69,351,4.101449
4,Im a die hard Dads Army fan and nothing will e...,1,178,983,4.528090

# Counting of stop words

In [87]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

[nltk_data] Downloading package stopwords to C:\Users\Isuman
[nltk_data]     success\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [88]:
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [89]:
#function that counts the number of stop words from the dataset
df['stopwords_count']=df['text'].apply(lambda x:len(
    [word for word in x.split() if word.lower() in stop_words]))
df.head()

,text,label,word_count,char_count,average_word,stopwords_count
0,I grew up (b. 1965) watching and loving the Th...,0,151,874,4.794702,64
1,"When I put this movie in my DVD player, and sa...",0,326,1811,4.558282,164
2,Why do people who do not know what a particula...,0,184,983,4.347826,85
3,Even though I have great interest in Biblical ...,0,69,351,4.101449,36
4,Im a die hard Dads Army fan and nothing will e...,1,178,983,4.528090,68

In [90]:
# average number of words per review
total_words= df['word_count'].sum()
word_per_review=df['word_count'].mean()
std=df['word_count'].std()
print('Total number of words in the review=', total_words)
print('Average number of words per review=', word_per_review)
print('Standard deviation =', std)

Total number of words in the review= 11557847
Average number of words per review= 231.15694
Standard deviation = 171.34399728366566

In [91]:
# Rate of stopwords in the dataset
df['stopwords_rate']= df['stopwords_count'] / df['word_count']

In [92]:
df.head()

,text,label,word_count,char_count,average_word,stopwords_count,stopwords_rate
0,I grew up (b. 1965) watching and loving the Th...,0,151,874,4.794702,64,0.423841
1,"When I put this movie in my DVD player, and sa...",0,326,1811,4.558282,164,0.503067
2,Why do people who do not know what a particula...,0,184,983,4.347826,85,0.461957
3,Even though I have great interest in Biblical ...,0,69,351,4.101449,36,0.521739
4,Im a die hard Dads Army fan and nothing will e...,1,178,983,4.528090,68,0.382022

In [93]:
df.describe()

,label,word_count,char_count,average_word,stopwords_count,stopwords_rate
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.500000,231.156940,1309.431020,4.640676,103.850160,0.450721
std,0.500005,171.343997,989.728014,0.340731,76.874169,0.048660
min,0.000000,4.000000,32.000000,1.239865,0.000000,0.000000
25%,0.000000,126.000000,699.000000,4.417904,57.000000,0.421053
50%,0.500000,173.000000,970.000000,4.627006,79.000000,0.452115
75%,1.000000,280.000000,1590.250000,4.847458,125.000000,0.482558
max,1.000000,2470.000000,13704.000000,12.290909,1053.000000,0.666667

# Data Cleaning and Text pre-preprocessing

The whole process of pre-preprocessing in a sequencial order the process involves the following: 

1. Removal of punctuation, numerical values and special characters
2. conver the text to lowercase
3. Removal of stopwords
4. Tokenizing the Data
5. part of speach tagging
6. normalization of the data using Lemmatization
7. Determining  word density

In [94]:
data=df[['text','label']]
data=data.loc[:100]
data.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

## 1. Removal of punctuation, numbers and special characters from text

In [95]:
"""
Explanation:  “clean” is the function that takes text as input and returns the text without 
any punctuation marks or numbers or special characters in it. We applied it to the ‘text’ column 
and created a new column called ‘clean_text’ which contained the cleaned text.
"""
import string
def clean(text):
    clean_word="".join(word for word in text if not word.isdigit() 
                       and word not in string.punctuation)
    return clean_word
data["clean_text"]=data['text'].apply(clean)

# def clean(text):
# # Removes all special characters and numericals leaving the alphabets
#     text = re.sub('[^A-Za-z]+', ' ', text)
#     return text

In [96]:
data.head()

,text,label,clean_text
0,I grew up (b. 1965) watching and loving the Th...,0,I grew up b watching and loving the Thunderbi...
1,"When I put this movie in my DVD player, and sa...",0,When I put this movie in my DVD player and sat...
2,Why do people who do not know what a particula...,0,Why do people who do not know what a particula...
3,Even though I have great interest in Biblical ...,0,Even though I have great interest in Biblical ...
4,Im a die hard Dads Army fan and nothing will e...,1,Im a die hard Dads Army fan and nothing will e...

## 2. conerting all the review text to lowercase

In [97]:
data["clean_text"]=data["clean_text"].apply(lambda x: x.lower())

## 3a. Removal of stop words

In [98]:
"""
in this data set we will not only remove the general stop words but also remove 
the indeginous stopwords of whom a few is saved as other_stopwords as generated above.
"""
from nltk.corpus import stopwords
stop_words=stopwords.words('english')
data["clean_text"]=data["clean_text"].apply(lambda x: " ".join(word for word in x.split() 
                                                              if word not in stop_words))

In [99]:
data

,text,label,clean_text
0,I grew up (b. 1965) watching and loving the Th...,0,grew b watching loving thunderbirds mates scho...
1,"When I put this movie in my DVD player, and sa...",0,put movie dvd player sat coke chips expectatio...
2,Why do people who do not know what a particula...,0,people know particular time past like feel nee...
3,Even though I have great interest in Biblical ...,0,even though great interest biblical movies bor...
4,Im a die hard Dads Army fan and nothing will e...,1,im die hard dads army fan nothing ever change ...
...,...,...,...
96,"Released in December of 1957, Sayonara went on...",1,released december sayonara went earn oscar nom...
97,"War, Inc. - Corporations take over war in the ...",0,war inc corporations take war future use lone ...
98,What is your freaking problem? Do you have not...,1,freaking problem nothing better sit fat asses ...
99,"Dick and Jane Harper (Jim Carrey, Téa Leoni) w...",0,dick jane harper jim carrey téa leoni wind une...
100,"In the history of cinema, every great film-mak...",1,history cinema every great filmmaker create fi...

### 3b. Creating a list of other stop words that are indegious to our reviews data

In [100]:
""" Explanation: first we convert all the reviews to a single string
then we split it into a list of words
afterwards we convert it into a pandas series 
so we can count the number of time a word appears in the entire data frame
just to know the words that occurs most and remove the stop words that has 
no contribution to the meaning ot the reviews"""
pd.Series("".join(data["clean_text"]).split()).value_counts()[:100]

br          193
film        143
movie       129
one          91
like         86
           ...
dark         15
original     15
since        15
around       14
takes        14
Length: 100, dtype: int64

In [101]:
## Scanning through the top 100 most occuring words and pick out words that has no cotribution 
#to the meaning of the reviews as stop words
other_stopword=['br','one','get','would','even','time','also','first','make','made','could','way',
              'think','two','plot','know','life','still','say','end','man','somthing','go','back','b',
              'im','thing','years','actually','makes','though','us','thats','things','seems','around',
              'young','take','however','got','enough','world','give','thought','may','gets','theres']

### 3c. removing other stop words that are indeginous to our text data

In [102]:
data["clean_text"]=data["clean_text"].apply(lambda x: " ".join(word for word in x.split() 
                                                              if word not in other_stopword))

## 3d. removing low frequency words

In [103]:
""" Creating a list of words that appear only once of twice which will likely be a typo error"""
wordCount=pd.Series("".join(data["clean_text"]).split()).value_counts().rename_axis('stopwords')
wordCount=wordCount.reset_index(name='counts')
low_freq=list(wordCount[wordCount['counts']<=2]['stopwords'])
""" Removing low frequescy words from the text dataset"""
data["clean_text"]=data["clean_text"].apply(lambda x: " ".join(word for word in x.split() 
                                                              if word not in low_freq))

In [104]:
data.head()

,text,label,clean_text
0,I grew up (b. 1965) watching and loving the Th...,0,watching thunderbirds school watched played th...
1,"When I put this movie in my DVD player, and sa...",0,put movie dvd sat expectations movie movie ani...
2,Why do people who do not know what a particula...,0,people past like feel try others replace woods...
3,Even though I have great interest in Biblical ...,0,great movies death every minute movie everythi...
4,Im a die hard Dads Army fan and nothing will e...,1,hard fan nothing ever every brand new film fil...

## 4. Tokenizing the text Data

In [105]:
"""
in this data set we will tokenize the data with the RegexpTokenizer so that any missing
characters which was hiding withing the text that was mixed by the punctuation removal function
will be removed my the regex expression we can also use orthe
A word tokenizer helps to break a sentence into a list of words
"""
from nltk.tokenize import RegexpTokenizer
regexp_tokenizaer=RegexpTokenizer("[\w*]+") # @geek for geek
tokens=data["clean_text"].apply(lambda x: regexp_tokenizaer.tokenize(x))

## 5. Part of Speech Tagging

In [106]:
# Download and import the needed part of speech tool kit
"""
Explanation: taging is the function that takes the a list of words called tokens
and tags the words to their Part of speech. 
We applied it to the list of words obtained during tokenization and 
created a new column for ‘POS tagged’ data.
To obtain the accurate Lemmatized word, the WordNetLemmatizer requires 
POS tags in the form of ‘n’, ‘a’, etc. But the POS tags obtained from 
pos_tag are in the form of ‘NN’, ‘ADJ’, etc.
hence we map pos_tag to wordnet tags,  we created a dictionary pos_dict. 
Any pos_tag that starts with J is mapped to wordnet.ADJ, 
any pos_tag that starts with R is mapped to wordnet.ADV, and so on.Our tags of interest are Noun, 
Adjective, Adverb, Verb. Anything out of these four is mapped to None
"""
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.corpus import wordnet
from nltk import pos_tag
def tagging(token):
    newlist=[]
    pos_dict = {'J':wordnet.ADJ, 'V':wordnet.VERB, 
                'N':wordnet.NOUN, 'R':wordnet.ADV}
    tags=pos_tag(token)
#     return tags
    for word, tag in tags:
        newlist.append(tuple([word, pos_dict.get(tag[0])]))
    return newlist
""" Applying the above function to our dataset and saving the obtained as 'Pos tag'"""
data['pos_tag']= tokens.apply(tagging)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Isuman success\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\Isuman
[nltk_data]     success\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [107]:
data.head()

,text,label,clean_text,pos_tag
0,I grew up (b. 1965) watching and loving the Th...,0,watching thunderbirds school watched played th...,"[(watching, v), (thunderbirds, n), (school, n)..."
1,"When I put this movie in my DVD player, and sa...",0,put movie dvd sat expectations movie movie ani...,"[(put, v), (movie, n), (dvd, n), (sat, v), (ex..."
2,Why do people who do not know what a particula...,0,people past like feel try others replace woods...,"[(people, n), (past, v), (like, None), (feel, ..."
3,Even though I have great interest in Biblical ...,0,great movies death every minute movie everythi...,"[(great, a), (movies, n), (death, n), (every, ..."
4,Im a die hard Dads Army fan and nothing will e...,1,hard fan nothing ever every brand new film fil...,"[(hard, a), (fan, n), (nothing, n), (ever, r),..."

## 6. stemming of the data using Lemmatization

In [109]:
"""
Explanation: lemmatize is a function that takes pos_tag tuples, 
and gives the Lemma for each word in pos_tag based on the pos of that word. 
We applied it to the ‘POS tagged’ column and created a column ‘Lemma’ to store the output.
"""
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatize(pos_data):
    lemma = " "
    for word, pos in pos_data:
        if not pos:
            word = word
            lemma += " " + word
        else:
            word = wordnet_lemmatizer.lemmatize(word, pos=pos)
            lemma += " " + word
    return lemma
""" Applying the above function to our dataset and saving the obtained as 'lemma'"""
data['lemma']=data['pos_tag'].apply(lemmatize)

In [110]:
data.head()

,text,label,clean_text,pos_tag,lemma
0,I grew up (b. 1965) watching and loving the Th...,0,watching thunderbirds school watched played th...,"[(watching, v), (thunderbirds, n), (school, n)...",watch thunderbird school watch play thunderb...
1,"When I put this movie in my DVD player, and sa...",0,put movie dvd sat expectations movie movie ani...,"[(put, v), (movie, n), (dvd, n), (sat, v), (ex...",put movie dvd sit expectation movie movie an...
2,Why do people who do not know what a particula...,0,people past like feel try others replace woods...,"[(people, n), (past, v), (like, None), (feel, ...",people past like feel try others replace woo...
3,Even though I have great interest in Biblical ...,0,great movies death every minute movie everythi...,"[(great, a), (movies, n), (death, n), (every, ...",great movie death every minute movie everyth...
4,Im a die hard Dads Army fan and nothing will e...,1,hard fan nothing ever every brand new film fil...,"[(hard, a), (fan, n), (nothing, n), (ever, r),...",hard fan nothing ever every brand new film f...

In [111]:
#Looking at the original review text and the text after preprocessing  
data[['text','lemma']]

,text,lemma
0,I grew up (b. 1965) watching and loving the Th...,watch thunderbird school watch play thunderb...
1,"When I put this movie in my DVD player, and sa...",put movie dvd sit expectation movie movie an...
2,Why do people who do not know what a particula...,people past like feel try others replace woo...
3,Even though I have great interest in Biblical ...,great movie death every minute movie everyth...
4,Im a die hard Dads Army fan and nothing will e...,hard fan nothing ever every brand new film f...
...,...,...
96,"Released in December of 1957, Sayonara went on...",release oscar oscar best support actor role ...
97,"War, Inc. - Corporations take over war in the ...",war corporation war future use brand john cu...
98,What is your freaking problem? Do you have not...,freak problem nothing well sit find somethin...
99,"Dick and Jane Harper (Jim Carrey, Téa Leoni) w...",dick jane jim carrey line dick work catch tr...
100,"In the history of cinema, every great film-mak...",history cinema every great film many time be...

# spliting th dataset into train and test

In [140]:
X=data['lemma']
y=data['label']

In [ ]:
from sklearn.model_selection import train_test_split
training_X,, X_test, training_y, test_y=train_test_split(X,y, random_state=101, test_size=0.2)

# Features Extraction

Some of the most popular methods of feature extraction are :
1. Bag-of-Words
2. Term Frequency-Inverse Document Frequency(TF-IDF)

## 1. Bag-of-Words

In [127]:
# Creating the Bag of Words model
texts = {
"good movie", "not a good movie", "did not like"
}
def Bag_of_words(dataset):
    word2count = {}
    for data in dataset:
        words = nltk.word_tokenize(data)
        for word in words:
            if word not in word2count.keys():
                word2count[word] = 1
            else:
                word2count[word] += 1
    return word2count
""" Applying the function to lemma column"""
Bag_of_words(texts)

{'did': 1, 'not': 2, 'like': 1, 'a': 1, 'good': 2, 'movie': 2}

# 2. Term Frequency-Inverse Document Frequency(TF-IDF)

In [138]:
# calculating tf-idf values for example
from sklearn.feature_extraction.text import TfidfVectorizer 

""" An Example"""
# example = ["good movie", "not a good movie", "did not like", 'i hate it']
 
# tfidf = TfidfVectorizer(ngram_range = (1,2))
# features = tfidf.fit_transform(example)
 
# pd.DataFrame(features.todense(), columns = tfidf.get_feature_names())
""" Apply TF-IDF on our real dataset"""
tfidf = TfidfVectorizer(min_df = 2,max_df = 0.5, ngram_range = (1,2))
features = tfidf.fit_transform(data['lemma'])

# spliting th dataset into train and test

In [ ]:
X=features